<div class="sign-in-popup" id="sign-in-box">
	<input type="submit" class="close-button" id="close-button" value="x">
	<div class="sign-in-box-title-container">
		<apan class="sign-in-box-title">Sign in</span>
	</div>
	<form action="/sign-in-user" method="post">
		<input type="text" class="sign-in-box-textbox" name="email"  placeholder="Email" autofocus><br/>
		<input type="password" class="sign-in-box-textbox" name="password" placeholder="Password"><br/><br/>
		<input type="submit" class="sign-in-submit-button" id="submit" name="submit" value="Submit">
	</form>
</div>
