<% if !current_user.nil? %>
	<div class="new-peep-container">
		<form name="add_peep_form" action="/add_peep" method="post">
			<textarea class="new-peep-textbox" id="peep_content" name="peep_content" placeholder="Enter a new peep..." autofocus></textarea><br/>
			<input type="submit" class="button" id="new-peep-button" value="Submit">
		</form>	
	</div>
	<div class="wide-spacer">
	</div>
<% else %>
	<div class="narrow-spacer">
	</div>
<% end %>

<div class="selector">
	<p class="field switch">
		<label for="radio1" class="cb-enable selected"><span>Date</span></label>
		<label for="radio2" class="cb-disable"><span>Name</span></label>
	</p>
</div>


<div class="peep-list-container">
	<% if !@peeps.empty? %>
		<div class="peep-list-title">
			<p>Peep List</p>
		</div>
		<div class="peeps-container">
			<% @peeps.each do |peep| %>
				<div class="peep-author-time-container">
	    			<span class="peep-author"><%= "#{peep[:author]}" %></span>
	    			<span class="peep-time"><%= "#{peep[:time]}" %></span><br/>
				</div>
				<div class="peep">
	    			<p><%= "#{peep[:content]}" %></p>
	    		</div>
	    		<div class="peep-spacer">
	    		</div>
		  	<% end %>
		</div>
	<% else %>
		<div class="peep-list-title">
			<p>No peeps yet</p>
		</div>
	<% end %>
</div>
