<% if !current_user.nil? %>
	<div class="new-peep-container">
		<form name="add_peep_form" action="/add_peep" method="post">
			<textarea class="new-peep-textbox" id="peep_content" name="peep_content" placeholder="Enter a new peep..." autofocus></textarea><br/>
			<input type="submit" class="button" id="new-peep-button" value="Submit">
		</form>	
	</div>
	<div class="wide-spacer">
	</div>
<% else %>
	<div class="narrow-spacer">
	</div>
<% end %>

<div class="switch-container">

	<% if false%>
	<div id='update-div'>
	</div>
	<% end %>

	<form action="/peep-selector" method="post">
		<% if session[:selector] == "date" %>
			<input type="submit" class="switch_one_on switch switch_on" name="selector" value="Date" disabled>
			<input type="submit" class="switch_two_off switch switch_off" name="selector" value="Name">
		<% else %>
			<input type="submit" class="switch_one_off switch switch_off" name="selector" value="Date">
			<input type="submit" class="switch_two_on switch switch_on" name="selector" value="Name" disabled>
		<% end %>
	</form>
</div>

<div class="peep-list-container" id="peep-list-container">
	<% if !@peeps.empty? %>
		<div class="peep-list-title">
			<p>Peep List</p>
		</div>
		<div class="peeps-container">
			<% @peeps.each do |peep| %>
				<div class="peep-author-time-container">
	    			<span class="peep-author"><%= "#{peep[:author]}" %></span>
	    			<span class="peep-time"><%= "#{peep[:time]}" %></span><br/>
				</div>
				<div class="peep">
	    			<p><%= "#{peep[:content]}" %></p>
	    		</div>
	    		<div class="peep-spacer">
	    		</div>
		  	<% end %>
		</div>
	<% else %>
		<div class="peep-list-title">
			<p>No peeps yet</p>
		</div>
	<% end %>
</div>

