<!DOCTYPE html>
<html>
	<head>
		<title>Makers Chitter</title>
		<link href="/css/style.css" rel="stylesheet">		
	</head>
	<body>
		<table name="main_table" width=100% border="1px">
			<tr>
				<td>
					<table name="inner_table" width=100% height="40px" border="1px">
						<tr>
							<td name="message_frame" align="left" width=60%>
								<% if session[:user_id].nil? %>
									Welcome please sign up or log in
								<% else %>
									Welcome <%= current_user.username %>
								<% end %>
							</td>						
							<td name="login_logout_frame" width=20% align="center">
								<% if session[:user_id].nil? %>	
									<form action="/log_in" method="post">
										<input type="submit" id="submit" name="submit" value="Log In">
									</form>
								<% else %>
									<form action="/log_out" method="post">
										<input type="submit" id="submit" name="submit" value="Log Out">
									</form>								
								<% end %>		
							</td>
							<td name="signup_frame_frame" width=20% align="center">
								<% if session[:user_id].nil? %>	
									<form action="/sign_up" method="post">
										<input type="submit" id="submit" name="submit" value="Sign Up">
									</form>
								<% end %>		
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td name="page_title" align="center" height="80px">
					page_title
				</td>
			</tr>
			<% if !current_user.nil? %>
				<tr id="add_peep_window" align="center" height="150px">
					<td name="add_peep_frame">
						<form name="add_peep_form" action="/add_peep" method="post">
							Add Peep<br/>
							<textarea name="peep_content" rows="6" cols="100"></textarea><br/>
							<input type="submit" id="submit" name="submit" value="Submit">
						</form>	
					</td>
				</tr>
			<% end %>
			<tr>
				<td name="peep_list" height="300px">
					<% if !@peeps.nil? %>
							<% @peeps.each do |peep| %>
				    			<%= "#{peep.time} " %><br/>
				    			<%= "\"#{peep.content}\" \| #{User.first(peep).username}" %><br/>
				  			<% end %>
				  	<% end %>
				</td>
			</tr>
		</table>
	</body>
</html>

