<% if !current_user.nil? %>
	<div class="new-peep-container">
		<form name="add_peep_form" action="/add_peep" method="post">
			<textarea class="new-peep-textbox" id="peep_content" name="peep_content" placeholder="Enter a new peep..."></textarea><br/>
			<input type="submit" class="button" id="new-peep-button" value="Submit">
		</form>	
	</div>
	<div class="wide-spacer">
	</div>
<% else %>
	<div class="narrow-spacer">
	</div>
<% end %>
<div class="peep-list-container">
	<% if !@peeps.nil? %>
		<div class="peep-list-title">
			<p>Peep List</p>
		</div>
		<div class="peeps-container">
			<% for i in (@peeps.count - 1).downto(0) do %>
				<div class="peep-author-time-container">
	    			<span class="peep-author"><%= "#{(User.select{|user| user.peeps.include?(@peeps[i])}.first.username)}" %></span>
	    			<span class="peep-time"><%= "#{@peeps[i].time}" %></span><br/>
				</div>
				<div class="peep">
	    			<p><%= "#{@peeps[i].content}" %></p>
	    		</div>
	    		<div class="peep-spacer">
	    		</div>
		  	<% end %>
		</div>
	<% else %>
		<div class="peep-list-title">
			<p>No peeps yet</p>
		</div>
	<% end %>
</div>
