<!DOCTYPE html>
<html>
	<head>
		<title>Makers Chitter</title>
		<link href="/css/reset.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<script type="text/javascript" src='/javascript/jquery-2.1.1.min.js' charset="utf-8"></script>
		<script type="text/javascript" src='/javascript/selector.js' charset="utf-8"></script>
		<script type="text/javascript" src='/javascript/jquery-functions.js' charset="utf-8"></script>
	</head>
	<body>
		<%= erb(:"/partials/header", layout: false) %>
		<%= yield %>
		<%= erb(:"/partials/footer", layout: false) %>
	</body>
</html>

