<!DOCTYPE html>
<html>
	<head>
		<title>Makers Chitter</title>
		<link href="/css/style.css" rel="stylesheet">		
	</head>
	<body>
		<table name="main_table" width=100% border="1px">
			<tr>
				<td>
					<table name="inner_table" width=100% border="1px">
						<tr>
							<td name="message_frame" align="left" width=60%>
							</td>						
							<td name="login_logout_frame" width=20% align="center">
								log_in			
							</td>
							<td name="signup_frame_frame" width=20% align="center">
								sign_up		
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td name="page_title" align="center" height="80px">
					page_title
				</td>
			</tr>
			<tr>
				<td name="login_frame" height="150px">
					log_in
				</td>
			</tr>
		</table>
	</body>
</html>

