<!DOCTYPE html>
<html>
	<head>
		<title>Makers Chitter</title>
		<link href="/css/style.css" rel="stylesheet">		
	</head>
	<body>
		<table class="main_table">
			<tr>
				<td>
					<table class="inner_table">
						<tr>
							<td>

							</td>						
							<td>
											
							</td>
							<td>

							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="page_title">
					page_title
				</td>
			</tr>
			<tr>
				<td class="middle_frame">
					login
				</td>
			</tr>
		</table>
	</body>
</html>

