
<div class="narrow-spacer">
</div>
<div class="sign-up-title">
	<p>Sign up</p>
</div>
<div class="sign-up-container">
	<form action="/sign-up-user" method="post">
		<input type="text" class="textbox" name="name" placeholder="Name" required autofocus><br/>
		<input type="text" class="textbox" name="username"  placeholder="Username" required><br/>
		<input type="text" class="textbox" name="email"  placeholder="Email" required><br/>
		<input type="password" class="textbox" name="password" placeholder="Password" required><br/>
		<input type="password" class="textbox" name="password_confirmation"  placeholder="Password Confirmation" required><br/><br/>
		<input type="submit" class="button" id="submit" name="submit" value="Submit">
	</form>
</div>

