
<div class="narrow-spacer">
</div>
<div class="sign-in-title">
	<p>Sign in</p>
</div>
<div class="sign-in-container">
	<form action="/sign-in-user" method="post">
		<input type="text" class="textbox" name="email"  placeholder="Email" required autofocus><br/>
		<input type="password" class="textbox" name="password" placeholder="Password" required><br/><br/>
		<input type="submit" class="button" id="submit" name="submit" value="Submit">
	</form>
</div>
<div class="footer-sign-in-spacer">
</div>

