body {
	width: 100%;
	min-width: 1100px;
	margin: 0px;
	font-family: "Skolar Bold","Segoe UI","Roboto Slab","Droid Serif",AvenirNext,"Avenir",Georgia,"Times New Roman",Times,serif;
}

.nav-bar {
	position: fixed;
	min-width: 900px;
    top: 0;
	background-color: rgb(240, 240, 240);
	border-bottom: 1px solid rgb(200, 200, 200);
	display: block;
	height: 50px;
	width: 100%;
	z-index: 1;
}

.welcome-message {
	/*border: 1px solid rgb(150, 150, 150);*/
	display: inline-block;
	float: left;
	width: 300px;
	height: 45px;
}

.welcome-message p {
	font-size: 1.1em;
	margin-top: 16px;
	margin-left: 10px;
	font-weight: 400;
}

.user-message {
	/*border: 1px solid rgb(150, 150, 150);*/
	display: inline-block;
	float: left;	
	min-width: 260px;
	height: 45px;
	margin-right: 10px;
}

.user-message p {
	font-size: 1.1em;
	margin-top: 16px;
	margin-left: 10px;
	font-weight: 400;

}

.nav-bar-buttons {
	/*border: 1px solid rgb(150, 150, 150);*/
	display: inline-block;
	float: right;
	width: 330px;
	height: 45px;
} 

.nav-bar-button {
	/*border: 1px solid rgb(100, 150, 200);*/
	display: inline-block;
	width: 110px;
	height: 45px;
	float: left;
	text-align: -webkit-center;
	text-align: center;
}

.button {
	margin-top: 12px;
	border-color: #0076a3;
	background: #49b3fc;
	background: -moz-linear-gradient(top, #76c7ff 0%, #1da0fa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#76c7ff), color-stop(100%,#1da0fa));
	background: -webkit-linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	background: -o-linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	background: -ms-linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76c7ff', endColorstr='#1da0fa',GradientType=0 );
	background: linear-gradient(top, #76c7ff 0%,#1da0fa 100%);
	color: #fff !important;
	border: 1px solid #AAAAAA;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.3) inset;
	display: inline-block;
	text-decoration: none !important;
	vertical-align: 3px;
	font-size: 0.9em;
	padding: 5px 7px 7px 9px;
	width: 82px;
	letter-spacing: 0.4px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    /*box-shadow: none;*/
}

.button:hover { 
	background: #76c7ff; 
}

.button:active { 
}

.page-title {
	width: 100%;
	height: 109px;
	margin-bottom: 30px;
	text-align: center;
	position: fixed;
	margin-top: 51px;
	background-color: white;
}

.page-title p {
	font-size: 2.3em;
	font-weight: 500;
	font-style: normal;
}

.new-peep-container {
	/*border: 1px solid rgb(100, 150, 200);*/
	position: fixed;
	background-color: white;
	width: 100%;
	height: 140px;
	margin-top: 160px;
	margin-bottom: 30px;
	text-align: center;
}

.new-peep-container textarea { 
	width: 750px;
	height: 70px;
	border: 2px solid rgb(190, 190, 190);
	border-radius: 4px;
	font-size: 1.1em;
	font-weight: 500;
	padding-left: 6px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 3px;
	resize: none;
	text-decoration: none;
	overflow: auto;
	outline: none;
  	-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
  	line-height: 24px;
	background-color: rgb(239, 239, 255);
	font-family: "Skolar Bold","Segoe UI","Roboto Slab","Droid Serif",AvenirNext,"Avenir",Georgia,"Times New Roman",Times,serif;

}

.new-peep-container textarea:focus {
	border-color: rgb(170, 170, 170);
} 

.wide-spacer {
	/*border: 1px solid rgb(100, 150, 200);*/
	background-color: white;
	height: 305px;
	width: 100%;
}

.narrow-spacer {
	/*border: 1px solid rgb(100, 150, 200);*/
	background-color: white;
	height: 150px;
	width: 100%;
}

.peep-list-container {
	/*border: 1px solid rgb(100, 150, 200);*/
}

.peep-list-title {
	/*border: 1px solid rgb(150, 150, 150);*/
	height: 44px;
	width: 100%;
	text-align: -webkit-center;
	text-align: center;
}

.peep-list-title p {
	font-size: 1.55em;
	font-weight: 500;
	font-style: normal;
	margin-top: 5px;
}

.peeps-container {
	min-height: 500px;
	min-width: 750px; 
	text-align: -webkit-center;
	text-align: center;
}

.peep-author-time-container {
	height: 30px;
	text-align: left;
	text-align: -webkit-left;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
}

.peep-author {
	font-size: 1.25em;
	padding-left: 0px;
	margin-left: -3px;
	font-family: "Skolar Bold","Segoe UI","Roboto Slab","Droid Serif",AvenirNext,"Avenir",Georgia,"Times New Roman",Times,serif;
	font-weight: 600;
	font-style: normal;
}

.peep-time {
	font-size: 1.0em;
	padding-left: 8px;
	vertical-align: 2px;
	color: #41b7d8;
}

.peep { 
	display: inline-block; 
	background-color: #F4F8F9; 
	width: 750px;
	min-height: 59px;
	text-align: justify;
	text-align: -webkit-justify;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
	border: 1px solid rgb(190, 190, 190);
	/*-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;*/
    /*-moz-box-shadow: inset 2px 2px 2px 0px #dddddd;*/
    /*box-shadow: inset 2px 2px 2px 0px #dddddd;*/
    box-shadow: inset -1px -1px 4px 2px #dddddd;
 }

.peep p { 
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
	font-weight: 400;
	font-style: normal;
}
.peep-spacer { 
	width: 100%;
	height: 20px;
}

.sign-up-title, .sign-in-title {
	/*border: 1px solid rgb(150, 150, 150);*/
	height: 64px;
	width: 100%;
	text-align: -webkit-center;
	text-align: center;
}

.sign-up-title p, .sign-in-title p {
	font-size: 1.55em;
	font-weight: 500;
	font-style: normal;
	margin-top: 5px;
}

.sign-up-container, .sign-in-container {
	/*border: 1px solid rgb(150, 150, 150);*/
	height: 400px;
	width: 100%;
	text-align: -webkit-center;
	text-align: center;
}

.textbox {
	width: 300px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	border: 1px solid rgb(200, 200, 200);
	font-size: 1.1em;
	border-radius: 4px;
	text-decoration: none !important;
	vertical-align: 3px;
	letter-spacing: 0.4px;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}



