body {
	background-color: white;
}

h1 {
	font-family: "Arial";
	font-size: "35px";
}

h2 {
	font-family: "Arial";
	font-size: "20px";
}

p {
	font-family: "Arial";
	font-size: "15px";
}

#submit {
	height: 80px;
	color: black;
	font-size: 50px;
	line-height: 7px;
	margin-top: 5px;
}

.wide { min-width: 100%; display: inline-block; background-color: #F0F0F0; }
